// 颜色
$btnColor = #3D568D
$navActive = #374D7F
$borderColor = #3982AC
$inputBorder = #438EB9
$fontColor = #636365
$white = #fff
$inputBg = #ECF3F8
$bodyBg = #F5F8F5
$titleBor = #ABBAC3
$tabhead = #9EAAC6
$titleCol = #333333
$timeCol = #666666
$sideBar = #F8F8F8
$eee = #eee
$navBarColor = #FAFAFA
$navCol = #6C83B4

// 字号
$font32 = 32px
$font16 = 16px
$font12 = 12px
$font14 = 14px
$font18 = 18px
$font20 = 20px
$font24 = 24px